NEWSCOM_LOGIN_EMAIL=
NEWSCOM_LOGIN_PASSWORD=
NEWSCOM_DATA_DIR=./data
NEWSCOM_CHROME_APP_NAME=Google Chrome
NEWSCOM_CHROME_APP_PATH=/Applications/Google Chrome.app
NEWSCOM_CHROME_DEBUG_PORT=9223
NEWSCOM_CHROME_PROFILE_DIR=./data/chrome_profile
NEWSCOM_LOGIN_URL=https://www.newspapers.com/signin/
NEWSCOM_HOME_URL=https://www.newspapers.com/
NEWSCOM_PAGE_LOAD_SECONDS=6
NEWSCOM_SLEEP_BETWEEN_DOWNLOADS=60
